* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.table-column-padding {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table-column-padding tr td,
.table-column-padding tr th {
  padding: 0.5rem;
}
